# HOUSING PRICES PREDICTION USING TENSORFLOW ESTIMATOR API.

In [1]:
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
housing_data=pd.read_csv('cal_housing_clean.csv')
housing_data.head()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
0,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

In [3]:
x_data=housing_data.drop(['medianHouseValue'],axis=1)
y_data=housing_data['medianHouseValue']

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [5]:
x_train,x_test,y_train,y_test=train_test_split(x_data,y_data,test_size=0.3,random_state=101)
x_train.head()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome
6761,19.0,2742.0,756.0,1396.0,703.0,2.5663
3010,32.0,444.0,102.0,242.0,87.0,1.1528
7812,35.0,994.0,203.0,602.0,185.0,3.5865
8480,35.0,1281.0,219.0,710.0,184.0,4.8304
1051,16.0,1257.0,231.0,559.0,213.0,4.4531

In [6]:
des=housing_data.describe()
des.T

,count,mean,std,min,25%,50%,75%,max
housingMedianAge,20640.0,28.639486,12.585558,1.0000,18.0000,29.0000,37.00000,52.0000
totalRooms,20640.0,2635.763081,2181.615252,2.0000,1447.7500,2127.0000,3148.00000,39320.0000
totalBedrooms,20640.0,537.898014,421.247906,1.0000,295.0000,435.0000,647.00000,6445.0000
population,20640.0,1425.476744,1132.462122,3.0000,787.0000,1166.0000,1725.00000,35682.0000
households,20640.0,499.539680,382.329753,1.0000,280.0000,409.0000,605.00000,6082.0000
medianIncome,20640.0,3.870671,1.899822,0.4999,2.5634,3.5348,4.74325,15.0001
medianHouseValue,20640.0,206855.816909,115395.615874,14999.0000,119600.0000,179700.0000,264725.00000,500001.0000

In [7]:
scaler_model=MinMaxScaler()

In [8]:
scaler_model.fit(x_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [9]:
x_train=pd.DataFrame(data=scaler_model.transform(x_train),columns=x_train.columns,index=x_train.index)

In [10]:
x_test=pd.DataFrame(data=scaler_model.transform(x_test),columns=x_test.columns,index=x_test.index)

In [11]:
housing_data.columns

Index(['housingMedianAge', 'totalRooms', 'totalBedrooms', 'population',
       'households', 'medianIncome', 'medianHouseValue'],
      dtype='object')

In [12]:
age=tf.feature_column.numeric_column('housingMedianAge')
rooms=tf.feature_column.numeric_column('totalRooms')
bedrooms=tf.feature_column.numeric_column('totalBedrooms')
population=tf.feature_column.numeric_column('population')
household=tf.feature_column.numeric_column('households')
income=tf.feature_column.numeric_column('medianIncome')
feat_cols=[age,rooms,bedrooms,population,household,income]

In [13]:
#x_train.shape
#y_train.shape
input_func=tf.estimator.inputs.pandas_input_fn(x=x_train,y=y_train,
                                               batch_size=10,num_epochs=1000,shuffle=True)

In [14]:
dnn_model=tf.estimator.DNNRegressor(feature_columns=feat_cols,hidden_units=[4,4,4])

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmp08gu4c_x
INFO:tensorflow:Using config: {'_keep_checkpoint_max': 5, '_session_config': None, '_save_checkpoints_steps': None, '_model_dir': '/tmp/tmp08gu4c_x', '_log_step_count_steps': 100, '_save_checkpoints_secs': 600, '_keep_checkpoint_every_n_hours': 10000, '_tf_random_seed': 1, '_save_summary_steps': 100}

In [15]:
dnn_model.train(input_func,steps=1000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /tmp/tmp08gu4c_x/model.ckpt.
INFO:tensorflow:step = 1, loss = 404279260000.0
INFO:tensorflow:global_step/sec: 182.584
INFO:tensorflow:step = 101, loss = 872533300000.0 (0.555 sec)
INFO:tensorflow:global_step/sec: 186.347
INFO:tensorflow:step = 201, loss = 514020770000.0 (0.536 sec)
INFO:tensorflow:global_step/sec: 195.962
INFO:tensorflow:step = 301, loss = 400740500000.0 (0.511 sec)
INFO:tensorflow:global_step/sec: 196.04
INFO:tensorflow:step = 401, loss = 555507600000.0 (0.510 sec)
INFO:tensorflow:global_step/sec: 194.05
INFO:tensorflow:step = 501, loss = 535432560000.0 (0.520 sec)
INFO:tensorflow:global_step/sec: 187.473
INFO:tensorflow:step = 601, loss = 799451250000.0 (0.529 sec)
INFO:tensorflow:global_step/sec: 171.452
INFO:tensorflow:step = 701, loss = 309620240000.0 (0.587 sec)
INFO:tensorflow:global_step/sec: 191.373
INFO:tensorflow:step = 801, loss = 161401300000.0 (0.518 sec)
INFO:tensorflow:global_step/sec: 194.152
INFO:tensorflow:step = 901, loss = 330554500000.0 (0.519 sec)
INFO:tensorflow:Saving checkpoints for 1000 into /tmp/tmp08gu4c_x/model.ckpt.
INFO:tensorflow:Loss for final step: 513747100000.0.

In [16]:
predict_input_func=tf.estimator.inputs.pandas_input_fn(x=x_test,y=y_test,batch_size=10,num_epochs=1,shuffle=False)
predictions=dnn_model.predict(predict_input_func)

In [17]:
pred=list(predictions)

INFO:tensorflow:Restoring parameters from /tmp/tmp08gu4c_x/model.ckpt-1000

In [18]:
final_pred=[]
for p in pred:
    final_pred.append(p['predictions'])
#final_pred

In [19]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,final_pred)**0.5

207864.71570908034

### The above value should be nearly equal to the Mean Value of medianHousingValue variable in the table above